$bgColor: #fff;
$bgGradient: linear-gradient(180deg, #ffffff 0%, #f2f5fa 100%);
$primaryColor: #131821;
$secondaryColor: #6a707b;
$highlighColor: #4066a5;
$lineColor: #e3e3e4;
$linkHoverColor: #eee;
$dangerColor: #ff0033;
