@import "colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading {
  font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 22px;
  }

  margin-top: 25vh;
  margin-left: 5vw;
  /* identical to box height, or 137% */

  color: $primaryColor;
}

.sub-heading {
  font: {
    family: Arial;
    style: normal;
    weight: normal;
    size: 12px;
  }
  margin: 20px 70vw 20px 5vw;
  line-height: 20px;

  color: $secondaryColor;
}

hr {
  position: absolute;
  display: block;
  border: none;
  height: 1px;
  width: 25vw;
  margin: 25vh 70vw 20px 5vw;

  background-color: $lineColor;
}

@media screen and (max-width: 920px) {
  .heading {
    position: absolute;
    margin-top: 2vh;
  }
  .sub-heading {
    position: absolute;
    top: 30px;
    margin: 20px;
  }

  hr {
    width: 78vw;
    bottom: 50px;
  }
  .container {
    display: flex;
    position: absolute;

    background: $bgGradient;
    width: 89vw;
    height: 45vh;

    margin: 30vh 5vw;
  }
}
